<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>The Loan Calculator app.</p>
    <p>Source code can be found <a href="https://github.com/MindaugasPo/LoanCalculator" target="_blank">here</a></p>
    <br />
    <h3>About</h3>
    <br />
    <p>Frontend: ASP.NET razor views, jQuery, Bootstrap. Mobile friendly:)</p>
    <p>Backend: .NET Core web app, C#</p>
    <p>CI/CD: Source control - Git, deployment with Azure devops, hosted in Azure (WebApp)</p>
    <br />
    <p>Demo: https://loancalculatordemo.azurewebsites.net/</p>
</div>