
<div class="row">
    <div class="col-8">
        <form id="loan-details" class="row">
            <div class="form-group col-12">
                <div class="row">
                    <div class="form-group col-12 col-sm-6">
                        <label for="administration-fixed">Administration fee (%)</label>
                        <input id="administration-fixed" name="administrationFixed" type="text" class="form-control" value="1" />
                        <label id="administration-fixed-error" class="form-error d-none" for="administration-fixed">Please enter 0 or a positive number</label>
                    </div>
                    <div class="form-group col-12 col-sm-6">
                        <label for="administration-amount">Administration fee ($)</label>
                        <input id="administration-amount" name="administrationAmount" type="text" class="form-control" value="10000" />
                        <label id="administration-amount-error" class="form-error d-none" for="administration-fixed">Please enter a number</label>
                    </div>
                </div>
            </div>
            <div class="form-group col-12">
                <div class="row">
                    <div class="form-group col-12 col-sm-6">
                        <label for="interest-rate">Interest rate (%)</label>
                        <input id="interest-rate" name="interestRate" type="text" class="form-control" value="5" />
                        <label id="interest-rate-error" class="form-error d-none" for="administration-fixed">Please enter 0 or a positive number</label>
                    </div>
                    <div class="form-group col-12 col-sm-6">
                        <label for="loan-duration">Loan duration (years)</label>
                        <input id="loan-duration" name="loanDuration" type="text" class="form-control" value="10" />
                        <label id="loan-duration-error" class="form-error d-none" for="administration-fixed">Please enter a positive number</label>
                    </div>
                </div>
            </div>
            <div class="form-group col-12">
                <label for="loan-amount">Loan amount</label>
                <input id="loan-amount" name="loanAmount" type="text" class="form-control" value="500000" />
                <label id="loan-amount-error" class="form-error d-none" for="administration-fixed">Please enter a positive number</label>
            </div>
            <div class="col-12">
                <button id="execute" class="btn btn-primary">Calculate</button>
            </div>
        </form>
        <div id="output-container" class="row">
            <div class="col-12">
                <hr />
                <div class="row">
                    <div class="col-12 col-sm-8">
                        Monthly payment
                    </div>
                    <div id="output-monthly-payment" class="col-12  col-sm-4">
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-12 col-sm-8">
                        Administration fee
                    </div>
                    <div id="output-administration-fee" class="col-12  col-sm-4">
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-12 col-sm-8">
                        Total interest paid
                    </div>
                    <div id="output-total-interest-paid" class="col-12  col-sm-4">
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-12 col-sm-8">
                        APR
                    </div>
                    <div id="output-apr" class="col-12  col-sm-4">
                    </div>
                </div>
                <hr />
            </div>
        </div>
    </div>
    <div id="history-container" class="col-4">
    </div>
</div>